/* Adds these properties to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Makes background color a light grey */
body {
    background-color: #d9dcd6;
}

/*Adds padding on all sides, changes the font style, adds a background color and chooses
a font color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Changes it's display behavior and the size of font*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Changes font color for certain letters in the header h1*/
header h1 .seo {
    color: #d9dcd6;
}

/*Adds padding to only the top, adds margin on only the right side, adds float 
property to change it's positioning and formatting, changes the font style and changes
the font size*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/*This removes the list marker on the list items*/
header nav ul {
    list-style-type: none;
}

/*Changes the display behavior and adds a margin only on the left side*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Changes the font color and removes the underscore from the links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Changes size of font*/
p {
    font-size: 16px;
}

/*This makes the background for this section an image and defines the height,
width, also makes the image in the center and has it cover the whole area and adds
a margin to only the bottom*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Changes the width of the content, changes the display behavior and adds a margin to
only the left*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Adds margin to only the bottom, adds padding on all sides, changes the height
of the content, changes the font family, adds a background color and color of the
font*/
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/*Defines the max height this image can be*/
.content img {
    max-height: 200px;
}

/*Adds margin to only the bottom and changes the size of font*/
.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/*Adds float property to change it's positioning and formatting and adds margin
to only the right side*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*adds float property to change it's positioning and formatting and adds margin
to only the left side*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Adds margin to only the right side, adds padding on all sides, controls the 
flow next to a floated element, adds positioning and formatting with float,
changes the width and height of the content, changes the font style and background color. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/*Adds margin to only the bottom and changes the font color*/
.benefits section {
    margin-bottom: 32px;
    color: #ffffff; 
}

/*Adds margin to only the bottom and centers the text*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Changes the display behavior, adds 10px of margin on the top and bottom and the 
left and right side margin will be split so the img is in the center horizontally*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Adds padding on all sides, clear will change the flow next to floated elements,
chooses a different font family, and makes all text aligned to the center*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Changes size of font*/
footer h4 {
    font-size: 20px;
}